.app-nav a {
    margin: 0 6px;
}
.sidebar-nav {
    padding: 0 12px;
}

.markdown-section iframe {
    min-height: 600px;
}
.code-editor {
    /* min-height: 400px; */
    position: relative;
}

.code-editor-copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 999;
    transition: all .3s;
}

.code-editor-copy-btn:hover {
    color: #2396ef;
}
div#waifu {
    right: 20px;
    left: initial;
}