.app-nav a {
    margin: 0 6px;
}
.sidebar-nav {
    padding: 0 12px;
}

.markdown-section iframe {
    min-height: 600px;
}
/* .code-editor {
    min-height: 400px;
} */

div#waifu {
    right: 20px;
    left: initial;
}